@media screen and (max-width: 329px) {
    .minibar {
        display: none;
    }

    .ptichka_img, .header__top__right, .strt, .circle, .border__news {
        display: none;
    }

    .header {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .logo_shop {
        width: 140px;
        height: 47px;
    }

    .logo_shop img {
        width: 36px;
    }
    .logo_shop span{
        width: 54px;
        height: 9px;
    }
    .info_logo_shop p{
        width: 91px;
        height: 13px;
        font-size: 10px;

    }
    .header__top {
        padding-left: 11px;
    }
    .slide_1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .sales_info_panel{
        display: flex;
        flex-direction: column;
    }
    .sales{
        width: 319px;
    }

    .our__whatsapp {
        padding: 0;
    }

    .our__whatsapp p {
        font-size: 8px;
        font-weight: bold;
    }

    .gps_img img {
        display: none;
    }

    .ptichka_img_mobile {
        display: flex;
    }

    .ptica_wrap img {
        padding-left: 4px;
    }

    .catalog__button {
        height: 40px;
        width: 40px;
        margin-left: 15px;
    }

    .search_button button {
        background: url("../img/lypa.png");
    }

    .in-love-basket {
        display: none;
    }

    .header__bottom {
        margin: 0 auto;
    }

    .search__bar {
        height: 34px;
        width: 236px;
        margin-bottom: 20px;
    }

    .search__bar input {
        padding: 0;
    }

    .search__bar {
        width: 173px;
        margin-left: 10px;
    }

    .header__bottom {
        margin: 0;
    }

    .header__bottom form {
        margin-left: 20px;
    }

    .time__work__info, .header__bottom h3 {
        display: none;
    }
    .all__news_block{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
.footer{
    max-width: 319px;
    display: flex;
    flex-direction: column;
}
.footer_main_info{
    display: flex;
    flex-direction: column;
}
}