body {
    height: 1931px;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

.wrapper {
    max-width: 1354px;
    margin: 0 auto;
}

.header__top {
    background: #0F2438;
    padding: 10px 0;
}

.header__top .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__top__left {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    display: flex;
    column-gap: 30px;
}

.window__text p {
}

.gps_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gps_img p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.gps_img span {
    text-decoration: underline;
}

.gps_img img {
    width: 20px;
}

.ptichka_img {
    display: flex;
    align-items: center;
}

.ptichka_img p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.ptichka_img img {
    width: 10px;
    align-self: center;
    margin-left: 5px;
    display: block;
}

.header__top__right ul {
    list-style-type: none;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    column-gap: 30px;
    margin: 0;
}

.header__top__right ul a {
    color: #fff;
    text-decoration: none;
}

.header {
    background-color: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 27px 0 20px 0;
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.logo_shop {
    display: flex;
    align-items: center;
}

.info_logo_shop span {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #0F2438;

}

.logo_shop h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #0F2438;
    margin-bottom: 0;


}

.logo_shop p {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #0F2438;

}

.logo_shop img {
    width: 66px;
}

.time__work {
    width: 258px;
    box-sizing: border-box;
}

.time__work img {
    height: 32px;
    margin-right: 10px;
}

.time__work__info {
    display: flex;
    align-items: center;
}

.clock__img h4 {
    width: 216px;
    height: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #0F2438;
}

.strt {
    width: 180px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;

}

.strt img {
    display: block;
    margin-right: 10px;
}

.our__whatsapp {
    background: #E1EFD0;
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding: 8px 16px;

}

.our__whatsapp img {
    width: 12px;
    margin-right: 6px;
}

.our_phone a {
    color: #0F2438;
    text-decoration: none;
}

.our__whatsapp p {
    font-size: 12px;
    line-height: 14px;
    text-align: right;
}

.our__whatsapp a {
    text-decoration: none;
    color: #000000;
}

.our_phone h3 {
    font-size: 20px;
    line-height: 23px;

}

.our_phone p {
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #0F2438;

}

.header__bottom {
    display: flex;
    align-items: center;
    margin-top: 20px;
    /*height: 100px;*/
    /*background-color: #FFFFFF;*/
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.15)*/
}

.catalog__button {
    width: 164px;
    height: 53px;
    background: #005BB9;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.catalog__button h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: center;
    padding-left: 12px;
}

.xxx {
    width: 20px;
    height: 3px;
    background: #FFFFFF;
}

.catalog__button div::after {
    content: "";
    background: #FFFFFF;
    width: 20px;
    height: 3px;
    display: block;
    margin-top: 2px;


}

.catalog__button div::before {
    content: "";
    background: #FFFFFF;
    width: 20px;
    height: 3px;
    display: block;
    margin-bottom: 2px;
}

.search__bar {
    border-radius: 6px 0 0 6px;
    margin-left: 60px;
}

.search__bar form {
    display: flex;
}

.search__bar input {
    width: 550px;
    height: 53px;
    font-size: 14px;
    line-height: 16px;
    color: #C2C5DA;
    background-color: #F4F5FA;
}

.search_button {
    width: 101px;
    height: 53px;
    background-color: #005BB9;
    border-radius: 0 6px 6px 0;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.in-love-basket {
    width: 411px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 65px;
}

.in-love-basket div {
    height: 28px;
    border: 1px solid #E1E5F8;
}

.in-love-basket p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.in-love-basket a {
    text-decoration: none;
    color: #0F2438
}


.in-love-basket p:last-child {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #0F2438;
}

.sales_info_panel {
    box-sizing: border-box;
    display: flex;
    margin-top: 30px;
    margin-bottom: 70px;
}

.slaider {
    width: 1008px;
    background: url(../img/BGSLAIDER.png) no-repeat;
    box-sizing: border-box;
    /*display: flex;*/
    /*flex-direction: column;*/
}

.qwerty {
    display: flex;
    justify-content: space-between;
    margin-left: 145px;
    align-items: center;

}

.banner-info {
    width: 332px;
    height: 207px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.banner-item-content {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #0A1A2C;
}

.art {
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171;
    text-align: left;
}

.price {
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
    margin: 25px 0 15px 0;
}


.price span {
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.banner-item-btn {
    width: 160px;
    height: 49px;
    background: #005BB9;
    border-radius: 6px;
}

.banner-item-btn button {
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border: none;
    background: #005BB9;
}

.banner-item-btn img {
    margin-right: 8px;
}

.sales {
    margin-left: 10px;
}

.sales_top, .sales_buttom {
    display: flex;
    width: 336px;
    height: 190px;
    background: #F4F5FA;
    border-radius: 10px;
}

.sales_left_side p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
    padding: 20px 0 18px 15px;
}

.sales_left_side img {
    margin-left: 15px;
}

.sales_right_side {

}

.text_panel {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #0A1A2C;
    padding: 54px 0 6px 15px;
}

.art_panel {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #525252;
    padding-left: 15px;
}

.price-and-btn {
    display: flex;
    align-items: center;
}

.price-and-btn {
    padding-top: 23px;
    padding-left: 15px;
}

.sales_price {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
    margin-right: 32px;
}

.sales_price span {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.sales_nav_btn {
    width: 57px;
    height: 49px;
    background: #005BB9;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    margin-top: -20px;
}

.sales_nav_btn button {
    background: transparent;
    border: none;
    padding: 0;
}

.sales_nav_btn img {
    padding: 16px 20px 16px 20px;
}

.sales_buttom {
    margin-top: 10px;
}

.slide_1 {
    display: flex;
    justify-content: space-between;
    width: 431px;
    height: 184px;
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
    position: relative;
}

.carousel__img img {
    width: 100%;
}

.into_block_info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
    row-gap: 10px;
}

.carousel__text {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #0A1A2C;
}

.carousel__description p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #0A1A2C;
}

.carousel__btn {
    width: 86px;
    height: 26px;
    background-color: #005BB9;
    border-radius: 4px;
    text-align: center;

}

.carousel__btn button {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
}

.owl-prev i, .owl-next i {
    color: white;
    background-color: #FFFFFF;
}

.owl-prev, .owl-next {
    position: absolute;
    top: 33%;

}

.owl-next span {
    height: 40px;
    width: 40px;
}

.owl-prev {
    position: absolute;
    left: -24px;
    background-color: #FFFFFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.ptichka_img_mobile {
    display: none;
}

.owl-next {
    position: absolute;
    right: 7px;
    background-color: #FFFFFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

button.owl-prev button {
    background-color: #FFFFFF;
    width: 18px;
    height: 18px;
}

.owl-prev span {
    height: 100px;
    width: 100px;
}

.mid {
    margin-top: 70px;
    position: relative;
}

.nav_item_btn {
    display: flex;
    column-gap: 20px;
}

.podbor_tovarov {
    width: 241px;
    height: 55px;
    background: #005BB9;
    border-radius: 6px;
    text-align: center;
}

.podbor_tovarov button {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    padding-top: 16px;
    background-color: transparent;
    border: none;
}

.podbor_tovarov_sales, .podbor_tovarov_nowbuy {
    width: 123px;
    height: 55px;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
}

.podbor_tovarov_sales button {
    padding: 20px 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 12px;
    color: #005BB9;
    background-color: transparent;
    border: none;
}

.podbor_tovarov_nowbuy {
    width: 229px;
    height: 55px;
}

.podbor_tovarov_nowbuy button {
    font-weight: 500;
    font-size: 20px;
    line-height: 15px;
    color: #005BB9;
    padding: 16px 30px;
    background-color: transparent;
    border: none;
}

.main__item__blocks {
    width: 316px;
    margin-top: 30px;
}

.mid__sales__block {
    display: flex;
    column-gap: 30px;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;


}

.sales_block_nav {
    display: flex;
    align-items: center;
    padding-top: 20px;
    column-gap: 20px;
}

.sales_block_button {
    width: 160px;
    height: 49px;
    background: #005BB9;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 19px;
}

.sales_block_button button {
    border: none;
    background-color: transparent;
    color: #FFFFFF;

}

.price_info {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.price_info div {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}

.mid__price_block__next {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #FFB800;
}

.mid__price_block__next span {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.podbor_tovarov button {
    padding-top: 15px;
}

.sales__block_rate p {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #B0B0B0;
}

.sales__block_rate p {
    color: #FFB800;
}

.sales__block_rate a {
    padding-left: 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #B0B0B0;
    text-decoration: none;
}

.sales__block_rate h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #0A1A2C;
}

span.old_price {
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.black_price {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}

.hor_line {
    width: 1354px;
    height: 1px;
    background: #E1E5F8;
    margin: 40px 0;
}

.mid_all_btn {
    width: 187px;
    height: 49px;
    background: #FFFFFF;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.mid_all_btn button {
    font-size: 16px;
    line-height: 19px;
    color: #005BB9;
    border: none;
    background-color: transparent;
}

.mid__down {
    margin-top: 80px;
}

.news {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    align-self: flex-start;
}

.hr__bottom_news {
    width: 100%;
    display: flex;
    height: 9px;
    background: #F5F5F5;
    margin-top: 9px;
    justify-content: space-around;
}

.all__news_block {
    display: flex;
    justify-content: space-between;
}

.circle {
    width: 9px;
    height: 9px;
    background: #0C1A2A;
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
}

.border__news {
    padding-top: 20px;
    width: 1px;
    height: 20px;
    background: #0C1A2A;

}

.news_block {
    width: 106px;
    height: 22px;
    background: #0C1A2A;
    border-radius: 4px;
}

.news_block p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-left: 17px;
}

.block2, .block, .block3, .block4 {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -9px;
}

.links_news, .links_news3, .links_news4, .links_news2 {
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #005BB9;
    margin: 15px 0 20px 0;
}

.main__news {
    max-Width: 284px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #242424;
}

.main__news2 {
    max-width: 311px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #242424;
}

.links_news2 {
    max-width: 268px;
}

.links_news3 {
    max-width: 268px;
}

.main__news3 {
    max-width: 260px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #242424;
}

.links_news4 {
    max-width: 278px;
}

.main__news4 {
    max-width: 252px;
}

.main__trio {
    margin-right: 177px;
}

.footer {
    width: 1920px;
    height: 408px;
    background: #0C1A2A;
    margin-top: 120px;
}

.footer ul {
    padding: 0;
}

.footer_main_info {
    display: flex;
    column-gap: 90px;
    padding-top: 36px;
    margin-left: 12%;
}

.catalog li, .rybinator li, .footer_info li {
    list-style-type: none;
    padding-bottom: 14px;
}

.catalog span, .rybinator span, .footer_info span {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;

}

.catalog a, .rybinator a, .footer_info a {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;

}

.footer_info p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.our__contact {
    height: 121px;
    display: flex;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact p, .adress span, .our_forms p, .discription_footer_info p {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;
}

.contact a, .adress p, .our_forms a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.adress {
    margin-left: 107px;
}

.our_forms a {
    padding-left: 23px;
}

.discription_footer_info p {
    padding-top: 23px;
}

.footer_input_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 470px;
    height: 40px;
    border: 1px solid #203246;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 20px;
}

.footer_input_info input {
    width: 470px;
    height: 40px;
    border: 1px solid #203246;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #0C1A2A;
    color: #ADBDD1;
}

.footer_input_info button {
    width: 177px;
    height: 40px;
    background-color: #005BB9;
    border-radius: 0 6px 6px 0;
    color: #FFFFFF;
    border: none;

}

.inpt {
    display: flex;
    justify-content: space-between;
}
