.your__city{
    width: 320px;
    height: 299px;
    background: #FFFFFF;
    border-radius: 10px;
    padding-left: 20px;
}

ul.cities{
    padding-left: 0;
}

.cities li {
    text-align: left;
    list-style-type: none;
    padding-top: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    /*color: #0F2438;*/
}
.cities li:first-line{
   color:  #005BB9
}
.window__text{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.window__text h1{
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
}
.window__text img{
    width: 20px;
    height: 20px;
}
.your__city input{
    width: 280px;
    height: 44px;
    background: #F4F5FA;
    border-radius: 6px;
}