* {
    box-sizing: border-box;
}
p {
    margin: 0;
}
.wrapper {
    max-width: 1354px;
    margin: 0 auto;
}
.header__top {
    background: #0F2438;
    padding: 10px 0;
}
.header__top .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.header__top__left {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    display: flex;
    column-gap: 30px;
}

.gps_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gps_img span {
    text-decoration: underline;
}

.gps_img img {
    width: 20px;
}

.ptichka_img {
    display: flex;
    align-items: center;
}

.ptichka_img h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF
}

.ptichka_img img {
    width: 10px;
    align-self: center;
    margin-left: 5px;
    display: block;
}

.header__top__right ul {
    list-style-type: none;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    column-gap: 30px;
    margin: 0;
}
.header__top__right ul a {
    color: #fff;
    text-decoration: none;
}
.header {
    background-color: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 27px 0 20px 0;
}
.header .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.logo_shop {
    display: flex;
}

.logo_shop h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #0F2438;
    margin-bottom: 0;


}

.logo_shop p {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #0F2438;

}

.logo_shop img {
    width: 66px;
}

.time__work {
    width: 258px;
    box-sizing: border-box;
}

.time__work img {
    height: 32px;
    margin-right: 10px;
}

.time__work__info {
    display: flex;
    align-items: center;
}

.clock__img h4 {
    width: 216px;
    height: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #0F2438;
}

.strt {
    width: 180px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;

}

.strt img {
     display: block;
    margin-right: 10px;
}

.our__whatsapp {
    background: #E1EFD0;
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding: 8px 16px;

}

.our__whatsapp img {
    width: 12px;
    margin-right: 6px;
}
.our_phone a {
    color: #0F2438;
    text-decoration: none;
}
.our__whatsapp p {
    font-size: 12px;
    line-height: 14px;
    text-align: right;
}

.our_phone h3 {
    font-size: 20px;
    line-height: 23px;

}

.our_phone p {
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #0F2438;

}

.header__bottom {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    /*height: 100px;*/
    /*background-color: #FFFFFF;*/
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.15)*/
}

.catalog__button {
    width: 164px;
    height: 53px;
    background: #005BB9;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.catalog__button h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: center;
    padding-left: 12px;
}

.xxx {
    width: 20px;
    height: 3px;
    background: #FFFFFF;
}

.catalog__button div::after {
    content: "";
    background: #FFFFFF;
    width: 20px;
    height: 3px;
    display: block;
    margin-top: 2px;


}

.catalog__button div::before {
    content: "";
    background: #FFFFFF;
    width: 20px;
    height: 3px;
    display: block;
    margin-bottom: 2px;
}

.search__bar {
    border-radius: 6px 0 0 6px;
    margin-left: 60px;
}
.search__bar form {
    display: flex;
}
.search__bar input {
    width: 550px;
    height: 53px;
    font-size: 14px;
    line-height: 16px;
    color: #C2C5DA;
    background-color: #F4F5FA;
}

.search_button {
    width: 101px;
    height: 53px;
    background-color: #005BB9;
    border-radius: 0 6px 6px 0;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.in-love-basket {
    width: 411px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
}

.in-love-basket div {
    height: 28px;
    border: 1px solid #E1E5F8;
}

in.in-love-basket p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

in.in-love-basket p:last-child {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #0F2438;
}

.mid{
    width: 1008px;
    height: 390px;
    box-sizing: border-box;

}
.slaider{
    width: 1008px;
    height: 390px;
    background: url(../img/BGSLAIDER.png);
    box-sizing: border-box;
}