* {
    margin: 0;
}

.header, .footer {
    background-color: #e8df85;
    width: 1000px;
    height: 100px;
}

.father__menu {
    background-color: #cb6fea;
    width: 300px;
}

.father {
    width: 1000px;
    height: 400px;
    display: flex;
    margin-top: 20px;
}

.post {
    width: 700px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.post__post {
    background-color: cornflowerblue;
    width: 680px;
    height: 300px;
    margin-left: 20px;
}

.footer {
    margin-top: 20px;
}