.container {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}
.header {
    background-color: #7b7bd7;
    width: 1000px;
    height: 200px;
}

.left_side {
    background-color: #0e1318;
    width: 800px;
    height: 400px;

}
.right_side{
    background-color: #102c49;
    width: 200px;
    height: 400px;
}